<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Ваш email будет изменен на  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Ваш email был изменен на <%= @resource.email %>.</p>
<% end %>
